<legend>
  <h1>Registrarte es simple</h1>
</legend>
<form action="." method="post" onsubmit="return passSeRepite();">
  <input type="email" name="email" placeholder="correo electrónico" autofocus required />
  <br /><br />
  <input type="password" name="password" placeholder="contraseña" id="ps" required />
  <br /><br />
  <input type="password" placeholder="repetir contraseña" id="rps" required />
  <br /><br />
  <!--<input type="hidden" name="register" formmethod="GET">-->
  <input type="submit" name="reg" value="Registrarse" />
</form>